.idea/
.vs/
.vscode/
.DS_Store
.mayaSwatches/

/AssetBundling
[Bb]uild/
[Cc]ache/
/[Ii]nstall/
[Oo]ut/**
[Uu]ser/
[Uu]ser_test*/
_savebackup/
__pycache__
**/*egg-info/**
**/*egg-link
**/[Rr]estricted
CMakeUserPresets.json

FrameCapture/**
user*.cfg
client*.cfg
server*.cfg
*.swatches
*.un~
*.swp
/imgui.ini


